# Google OAuth Configuration
GOOGLE_CLIENT_ID=294482440196-er1dvt301bj64qd80cabc0ppimme2im2.apps.googleusercontent.com

# MongoDB Configuration
MONGO_URI=mongodb+srv://your-mongo-uri
MONGO_DB_NAME=resume_analyzer

# JWT Configuration
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
